@import '../../styles/theme.scss';

.hamburger {
  cursor: pointer;
  height: 40px;
}

.header {
  align-items: center;
  background-color: $white;
  border-bottom: 2px solid $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  padding: 8px;
  position: fixed;
  top: 0;
  width: calc(100vw - 16px);
}

.icon {
  height: 40px;
}

.header a {
  max-height: 40px;
}
