@import '../../styles/theme.scss';

.hamburger {
  cursor: pointer;
  height: 40px;
}

.header {
  align-items: center;
  background-color: white;
  display: flex;
  box-shadow:
    36px -10px 12px 20px #fff,
    -36px -10px 12px 20px #fff;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  padding: 8px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.header a {
  max-height: 40px;
}

.icon, .logo {
  height: 40px;
}
