@import '../../styles/theme.scss';

.errorMessage {
  color: $primary;
  display: none;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.errorMessageVisible {
  display: block;
}

.input {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto 1px;
  outline: unset;
  padding: 6px 4px 4px;
  width: 100%;
}
.input::selection {
  background: $primary;
  color: $white;
}
.input::-moz-selection {
  background: $primary;
  color: $white;
}

.input:focus {
  border-color: $primary;
  outline: unset;
}

.inputContainer {
  margin: 0 auto 8px;
  width: 100%;
}

.inputContainer input {
  box-sizing: border-box;
}

.inputContainer textarea {
  box-sizing: border-box;
  resize: vertical;
}

.inputError {
  background-color: #F66;
}

.label {
  font-weight: $heavy;
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  .input {
    background-color: $dark-gray;
    color: $white;
  }

  .inputError {
    background-color: $secondary;
  }

  .forceLight {
    background-color: $light-gray;
    border-color: $primary;
    color: $black;
  }
}
