@import '../../../styles/theme.scss';

.linkInfo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}

.linkInfo div {
  margin: 0 8px 0 0 !important;
}

.separator {
  border: 1px solid $secondary;
  border-radius: 2px;
  margin: 24px auto;
  width: 75%;
}

.successHeader {
  margin-bottom: 16px;
}
