@import '../../../styles/theme.scss';

.button {
  margin: 8px auto;
}

.editInfo {
  font-weight: 100;
  margin: 0 auto 8px -14px;
  width: 280px;
}

.shareInfo {
  font-weight: 100;
  margin: 0 auto 8px -14px;
  width: 280px;
}

.successHeader {
  margin-bottom: 16px;
}

@media screen and (min-width: $browser) {
  .editInfo, .shareInfo {
    margin: 0 auto 8px;
    width: inherit;
  }
}
