@import '../../styles/theme.scss';

@mixin fundamentals {
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: $heavy;
  justify-content: center;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: $transition;
  &:hover {
    transform: scale(1.05);
    transition: $transition;
  }
}

.dark {
  @include fundamentals;
  background-color: $secondary;
  color: $white;
  height: 40px;
  width: 250px;
}

.outlined {
  @include fundamentals;
  background-color: $white;
  border: 2px solid $primary;
  color: $primary;
  height: calc(40px - 4px);
  width: calc(250px - 4px);
}

.solid {
  @include fundamentals;
  background-color: $primary;
  color: $white;
  height: 40px;
  width: 250px;
}
