@import '../../styles/theme.scss';

@mixin fundamentals {
  align-items: center;
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  letter-spacing: 2px;
  margin: 0 auto;
  padding-top: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.outlined {
  @include fundamentals;
  background-color: $white;
  border: 2px solid $primary;
  color: $primary;
  height: calc(40px - 4px);
  width: calc(250px - 4px);
}

.solid {
  @include fundamentals;
  background-color: $primary;
  color: $white;
  height: 40px;
  width: 250px;
}
