@import '../../styles/theme.scss';

.container {
  margin: 92px auto 92px;
  max-width: 250px;
  padding: 0 16px;
  text-align: center;
}

@media screen and (min-width: $browser) {
  .container {
    margin: 120px auto 92px;
    max-width: 500px;
  }
}
