@import '../../styles/theme.scss';

.container {
  margin: 92px auto 92px;
  max-width: 250px;
  padding: 0;
  text-align: center;
}

.eventPage {
  bottom: 54px;
  display: grid;
  grid-template-areas:
    'title'
    'header'
    'guests';
  grid-template-rows: auto auto 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: unset;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100vw;
}

@media screen and (min-width: 381px) {
  .eventPage {
    bottom: 36px;
  }
}

@media screen and (min-width: $browser) {
  .container {
    margin: 120px auto 92px;
    max-width: 500px;
  }

  .eventPage {
    bottom: 41px;
  }
}
