@import '../../styles/theme.scss';

.container {
  align-items: center;
  background-color: $white;
  border: 4px solid $secondary;
  border-radius: 12px;
  color: $secondary;
  display: grid;
  grid-template-columns: 1fr 75px 32px;
  font-size: 17px;
  font-weight: $heavy;
  height: 40px;
  padding: 4px 8px;
  width: 225px;
}

.date {
  justify-self: start;
}

.delete {
  cursor: pointer;
  height: 24px;
  justify-self: end;
}

.time {
  justify-self: start;
}

@media screen and (min-width: $browser) {
  .container {
    font-size: 18px;
    grid-template-columns: 1fr 125px 32px;
    height: 32px;
    width: 320px;
  }
}
