@import '../../styles/theme.scss';

.container {
  align-items: center;
  background-color: $white;
  border: 4px solid $secondary;
  border-radius: 12px;
  color: $secondary;
  display: grid;
  font-size: 17px;
  font-weight: $heavy;
  height: 40px;
  padding: 4px 8px;
  width: 225px;
}

.containerHasTime {
  grid-template-columns: 1fr 75px 32px;
}
.containerNoTime {
  grid-template-columns: 1fr 32px;
}

.dateHasTime {
  justify-self: start;
}
.dateNoTime {
  justify-self: center;
}

.delete {
  content: url("/images/skedge-delete.svg");
  cursor: pointer;
  height: 24px;
  justify-self: end;
}

.time {
  justify-self: start;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: $dark-gray;
    border-color: $light-gray;
    color: $white;
  }
  
  .delete {
    content: url("/images/skedge-delete-saturated.svg");
  }
}
