@import '../../styles/theme.scss';

.container {
  align-items: center;
  background-color: $white;
  border: 4px solid $secondary;
  border-radius: 12px;
  color: $secondary;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: $heavy;
  justify-content: space-between;
  height: 40px;
  padding: 4px 8px;
  width: 225px;
}

.delete {
  cursor: pointer;
  height: 24px;
}

@media screen and (min-width: $browser) {
  .container {
    align-items: center;
    background-color: $white;
    border: 4px solid $secondary;
    border-radius: 12px;
    color: $secondary;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: $heavy;
    height: auto;
    padding: 4px 8px;
    width: 90px;
  }

  .delete {
    margin-top: 4px;
  }
}
