@import '../../../styles/theme.scss';

.clickable {
  cursor: pointer;
}

.icon {
  width: 40px;
}

.pair {
  background-color: $white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 92px;
  margin: 2px;
  padding: 8px;
}

.pairAlt {
  background-color: $white-alternate;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 92px;
  margin: 2px;
  padding: 8px;
}
