@import '../../../styles/theme.scss';

.availabilityStyle {
  background-color: $primary;
  color: $white;
}

.clickable {
  cursor: pointer;
}

.dateAnswer {
  border-radius: 8px;
  font-weight: $heavy;
  margin: 2px;
  max-width: 130px;
  min-width: 130px;
  overflow: hidden;
  padding: 12px 16px;
}

.unavailable {
  background-color: $white;
  color: $light-gray;
}

.unavailableAlt {
  background-color: $white-alternate;
  color: $light-gray;
}

.unclickable {
  cursor: default;
}