@import '../../../styles/theme.scss';

.oopsAnimContainer {
  height: 250px;
  margin: 0 auto 16px;
  position: relative;
  width: 250px;
}

.oopsCopy {
  color: $white;
  font-size: 18px;
  font-weight: $heavy;
  left: 65px;
  position: absolute;
  right: 35px;
  transform: rotate(25deg);
  top: 110px;
}

.oopsLottie {
  left: 0;
  position: absolute;
  top: 0;
}

.separator {
  border: 1px solid $secondary;
  border-radius: 2px;
  margin: 24px auto;
  width: 75%;
}
