@import '../../styles/theme.scss';

.oofContainer {
  height: 150px;
  margin: 0 auto 16px;
  position: relative;
  width: 150px;
}

.oofCopy {
  font-size: 16px;
  margin-bottom: 8px;
}

.raincloudLottie {
  left: 0;
  position: absolute;
  top: 0;
}

.zapLottie {
  left: 15px;
  position: absolute;
  top: -25px;
}

@media screen and (min-width: $browser) {
  .oofCopy {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
