@import '../../../styles/theme.scss';

.answers {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.nickname {
  font-size: 20px;
  padding-left: 2px;
  text-align: left;
}

.row {
  overflow-x: scroll;
  padding: 0 24px;
}

.rowSeparator {
  border: 1px solid $gray;
  border-radius: 2px;
  margin: 8px auto;
  width: 100%;
}
