@import '../../styles/theme.scss';

.cardHide {
  margin: -100vh auto;
  transition: $transition;
}
.cardShow {
  margin: 0;
  transition: $transition;
}

.modal {
  cursor: pointer;
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 45;
}
.modalHide {
  background-color: rgba(8, 7, 8, 0);
  pointer-events: none;
  transition: $transition;
}
.modalShow {
  background-color: rgba(8, 7, 8, 0.5);
  pointer-events: unset;
  transition: $transition;
}

.modalCard {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 32px;
  position: fixed;
  top: 0;
  transition: $transition;
  width: calc(100vw - 64px);
}

.modalClose {
  position: absolute;
  right: 16px;
  top: 16px;
}

@media screen and (min-width: $browser) {
  .cardShow {
    margin: 25vh auto;
  }

  .modalCard {
    border-radius: 16px;
    height: 50vh;
    left: unset;
    max-width: 550px;
    padding: 32px;
    position: relative;
    top: unset;
    transition: $transition;
    width: 80vw;
  }
}
