@import '../../../styles/theme.scss';

.availabilityStyle {
  background-color: $primary;
  color: $white;
}

.clickable {
  cursor: pointer;
}

.dateAnswer {
  border-radius: 8px;
  font-weight: $heavy;
  margin: 2px;
  max-width: 130px;
  min-width: 130px;
  overflow: hidden;
  padding: 12px 16px;
}

.finalizeButton {
  background-color: $white-alternate;
  border-radius: 8px;
  box-shadow: 0 0 0 2px $primary inset;
  color: $primary;
  font-size: 13px;
  font-weight: 600;
  margin: 4px 2px 0 2px;
  padding: 4px;
}

@keyframes goldenPulse {
  0%   { background-color: $primary; }
  50%   { background-color: $primary-pulse; }
  100%   { background-color: $primary; }
}
.finalizedSelected {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: goldenPulse;
  animation-timing-function: ease-in-out;
  color: $black;
}
.finalizedUnselected {
  background-color: $gray;
  color: $black;
}

.unavailable {
  background-color: $white;
  color: $light-gray;
}

.unavailableAlt {
  background-color: $white-alternate;
  color: $light-gray;
}

.unclickable {
  cursor: default;
}