@import '../styles/theme.scss';

.button {
  margin-top: 40px;
}

.title {
  font-family: handlee;
}

@media screen and (min-width: $browser) {
  .question {
    font-size: 24px;
    margin: auto;
    width: 75%;
  }
}
