@import '../styles/theme.scss';

.addDateButton {
  margin-top: 16px;
}

.checkbox {
  height: 20px;
  margin-left: 8px;
  width: 20px
}

.datesContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  font-size: 18px;
  margin-bottom: 16px;
}

.noDates {
  color: $primary;
  font-size: 18px;
}

.submitButton {
  margin-top: 16px;
}

.specifyTimes {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-top: 16px;
}

.submitError {
  color: $primary;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.submitErrorList {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.submitErrorListItem {
  margin-bottom: 4px;
}

.submitErrorNote {
  color: $primary;
  font-size: 18px;
  font-weight: $heavy;
  margin-bottom: 4px;
  text-align: center;
  width: 100%;
}
