@import '../styles/theme.scss';

.addDateButton {
  margin-top: 16px;
}

.logo {
  width: 200px;
}

.selectInstructions {
  font-size: 16px;
  margin-bottom: 16px;
}

.separator {
  border: 1px solid $secondary;
  border-radius: 2px;
  margin: 24px auto;
  width: 75%;
}

.submitButton {
  margin-top: 16px;
}

.title {
  font-family: handlee;
  font-size: 30px;
  margin-bottom: -8px;
}
