@import '../styles/theme.scss';

.addDateButton {
  margin-top: 16px;
}

.datesContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo {
  width: 200px;
}

.noDates {
  color: $primary;
  font-size: 18px;
}

.picked {
  font-size: 18px;
  margin-bottom: 8px;
}

.selectInstructions {
  font-size: 18px;
  margin-bottom: 16px;
}

.separator {
  border: 1px solid $secondary;
  border-radius: 2px;
  margin: 24px auto;
  width: 75%;
}

.submitButton {
  margin-top: 16px;
}

.submitError {
  color: $primary;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.submitErrorList {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.submitErrorListItem {
  margin-bottom: 4px;
}

.submitErrorNote {
  color: $primary;
  font-size: 18px;
  font-weight: $heavy;
  margin-bottom: 4px;
  text-align: center;
  width: 100%;
}

.title {
  font-family: handlee;
  font-size: 30px;
  margin-bottom: -8px;
}
