@import '../styles/theme.scss';

.scheduling {
  font-size: 1.5rem;
  font-weight: 800;
}

.skedgeIllumination {
  width: 2em;
}

.skedgeLogo {
  margin: 0 auto;
  width: 200px;
}

.subtitleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.titleContainer {
  display: grid;
  grid-template-areas:
    "welcomeTo"
    "skedgeLogo";
  margin-bottom: 1rem;
  width: 100%;
}

.welcomeTo {
  font-family: architectsDaughter;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .skedgeLogo {
    margin: unset;
  }

  .titleContainer {
    grid-template-areas:
      "welcomeTo skedgeLogo";
  }

  .welcomeTo {
    font-size: 2rem;
    margin: auto 1rem auto;
    text-align: right;
  }
}
