@import '../styles/theme.scss';

.bullet {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: left;
}

.emphasis {
  color: $primary;
  font-family: handlee;
  font-size: 28px;
  font-weight: 600;
}

.p {
  font-size: 18px;
  margin-bottom: 20px;
}

@media screen and (min-width: $browser) {
  .p {
    font-size: 20px;
  }
}
