@import '../../styles/theme.scss';

.buttons {
  padding: 8px;
  position: fixed;
  right: 0;
  text-align: right;
}

.buttonsHide {
  top: -100vh;
  transition: $transition;
}

.buttonsShow {
  top: 0px;
  transition: $transition;
}

.container {
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 15;
}
.containerHide {
  background-color: rgba(8, 7, 8, 0);
  pointer-events: none;
  transition: $transition;
}
.containerShow {
  background-color: rgba(8, 7, 8, 0.5);
  pointer-events: unset;
  transition: $transition;
}

.hamburger {
  cursor: pointer;
}

.spacedButton {
  margin-bottom: 8px;
}
