@import '../../styles/theme.scss';

.buttons {
  padding: 8px;
  position: fixed;
  right: 0;
  text-align: right;
}

.buttonsHide {
  top: -100vh;
  transition: $transition;
}

.buttonsShow {
  top: 0px;
  transition: $transition;
}

.container {
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 45;
}
.containerHide {
  background-color: rgba(8, 7, 8, 0);
  pointer-events: none;
  transition: $transition;
}
.containerShow {
  background-color: rgba(8, 7, 8, 0.5);
  pointer-events: unset;
  transition: $transition;
}

.hamburger {
  cursor: pointer;
}

.kofiImage {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-iteration-count: 2;
  animation-name: kofi-wiggle;
  animation-play-state: running;
  animation-timing-function: ease;
  box-sizing: border-box;
  display: inline;
  height: 15px;
  margin-right: 8px;
  width: 22px;
}

.kofiParent:hover img {
  animation-duration: 2s;
  animation-name: kofi-wiggle-no-delay;
  animation-iteration-count: infinite;
}

.spacedButton {
  margin-bottom: 8px;
}
