@import '../../../styles/theme.scss';

.description {
  font-size: 20px;
  margin-top: 8px;
}

.organizerNick {
  color: $gray;
  font-size: 22px;
  font-weight: $heavy;
}

.title {
  font-family: handlee;
}
