@import '../../styles/theme.scss';

.backing {
  align-items: center;
  background-color: rgba(8, 7, 8, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  touch-action: none;
  z-index: 100;
}

.button {
  margin-bottom: 8px;
}

.hidden {
  display: none;
}

.modal {
  background-color: $white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 50%;
  padding: 16px;
  width: 250px;
}

@media screen and (min-width: $browser) {
  .modal {
    margin-bottom: 200px;
  }
}
