@import '../../styles/theme.scss';

.backing {
  align-items: center;
  background-color: rgba(8, 7, 8, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  touch-action: none;
  z-index: 100;
}

.button {
  margin-top: 8px;
}

.hidden {
  display: none;
}

.modal {
  background-color: $white;
  border-radius: 8px;
  left: calc(50vw - 141px);
  padding: 16px;
  position: fixed;
  top: 16px;
  width: 250px;
}

.timeSelect {
  font-size: 16px;
  margin-top: 8px;
  width: 246px;
}

@media screen and (min-width: $browser) {
  .modal {
    top: calc(50vh - 200px);
  }
}
