@import './theme.scss';

body {
  color: $black;
  font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.highlight {
  color: $primary;
  font-weight: $heavy;
}

.textLink {
  color: $secondary;
  font-weight: $heavy;
  text-decoration: none;
  transition: $transition;
}
.textLink:hover {
  color: $primary;
  transition: $transition;
}

.useScript {
  font-family: handlee;
}

body {
  margin: 0
}
