@import './theme.scss';

body {
  color: $black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.highlight {
  color: $primary;
  font-weight: $heavy;
}

.textLink {
  color: $secondary;
  font-weight: $heavy;
  text-decoration: none;
  transition: $transition;
}
.textLink:hover {
  color: $primary;
  transition: $transition;
}

.useScript {
  font-family: handlee;
}

/* !important used here to override default datepicker styles */
.react-datepicker__day--selected {
  background-color: $primary !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $black;
    color: $white;
  }

  .textLink {
    color: $primary;
  }
  .textLink:hover {
    color: $white;
  }

  /* !important used here to override default datepicker styles */
  .react-datepicker {
    background-color: $dark-gray !important;
    border-color: $black !important;
  }
  .react-datepicker__current-month,
  .react-datepicker__day,
  .react-datepicker__day-name {
    color: $white !important;
  }
  .react-datepicker__day--outside-month {
    color: $gray !important;
  }
  .react-datepicker__day:hover {
    color: $black !important;
  }
  .react-datepicker__header {
    background-color: $primary !important;
    border-color: $black !important;
    color: $white;
  }
}
