/* Global palette */
$primary: #EF3F58;
$secondary: #671514;
$white: #EFF1ED;
$white-alternate: #dde0d9;
$light-gray: #999;
$gray: #6A7062;
$dark-gray: #222;
$black: #080708;

$primary-pulse: #fc8597;

/* Global effects */
$heavy: 600;
$transition: 333ms ease-in-out;

/* Global sizes */
$browser: 600px;

@font-face {
  font-family: handlee;
  src: url(../public/fonts/Handlee.ttf);
}

@keyframes kofi-wiggle {
  0% { transform:rotate(0) scale(1) }
  15% { transform:rotate(0) scale(1.12) }
  20% { transform:rotate(0) scale(1.1) }
  24% { transform:rotate(-10deg) scale(1.1) }
  28% { transform:rotate(10deg) scale(1.1) }
  32% { transform:rotate(-10deg) scale(1.1) }
  36% { transform:rotate(10deg) scale(1.1) }
  40% { transform:rotate(0) scale(1) }
  0% { transform:rotate(0) scale(1) }
}
@keyframes kofi-wiggle-no-delay {
  0% { transform:rotate(0) scale(1) }
  30% { transform:rotate(0) scale(1.12) }
  50% { transform:rotate(0) scale(1.1) }
  60% { transform:rotate(-10deg) scale(1.1) }
  70% { transform:rotate(10deg) scale(1.1) }
  80% { transform:rotate(-10deg) scale(1.1) }
  90% { transform:rotate(10deg) scale(1.1) }
  100% { transform:rotate(0) scale(1) }
}