/* Global palette */
$primary: #EF3F58;
$secondary: #671514;
$white: #EFF1ED;
$white-alternate: #dde0d9;
$light-gray: #999;
$gray: #6A7062;
$black: #080708;

$primary-pulse: #fc8597;

/* Global effects */
$heavy: 600;
$transition: 333ms ease-in-out;

/* Global sizes */
$browser: 600px;

@font-face {
  font-family: handlee;
  src: url(../public/fonts/Handlee.ttf);
}
